<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet_2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>msg</servlet-name>
  	<servlet-class>MsgRequestHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>msg</servlet-name>
  	<url-pattern>/printmessage</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>Bio</servlet-name>
  	<servlet-class>BioDetails</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Bio</servlet-name>
  	<url-pattern>/mydetails</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Table</servlet-name>
  	<servlet-class>MyDetailsTable</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Table</servlet-name>
  	<url-pattern>/table</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ALLTable</servlet-name>
  	<servlet-class>AllDetailsTable</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ALLTable</servlet-name>
  	<url-pattern>/data</url-pattern>
  </servlet-mapping>
  
  
</web-app>